# MongoDB
DB_USER=student
DB_PASSWORD=student_secure_password
DB_NAME=wp_labs
MONGO_URI="mongodb://student:student_secure_password@mongo:27017/wp_labs?authSource=admin"

# Application
PORT=4200
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=super_secret_access_key_change_in_prod
JWT_REFRESH_SECRET=super_secret_refresh_key_change_in_prod
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_secure_password_change_in_prod
CACHE_TTL_DEFAULT=300

# Yandex OAuth
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_CALLBACK_URL=http://localhost:4200/auth/oauth/yandex/callback

# VK OAuth
VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_CALLBACK_URL=http://localhost:4200/auth/oauth/vk/callback